<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo test">

<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReportListener" />
	</listeners>

  <test thread-count="5" name="Web Page testing ">
    <classes>
    
      <class name="com.demomavenprojectpractice.com.demomavenpractice.Testngpracticee"/>
      <class name="com.demomavenprojectpractice.com.demomavenpractice.Gradledemoclass"/>
      <class name="com.demomavenprojectpractice.com.demomavenpractice.DropdownSortdown"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
